{% extends "layout.html" %}
{% block body %}


</script>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
				<form class="login100-form validate-form" action="/admin" method="post">
					<span class="login100-form-title p-b-33">
						Record attendance
					</span>
					{% if active %}
					<a href="/storeattendance">Click here to take attedance of {{sub_code}}</a>
					{% else %}

					{% endif %}
					</div>
				</form>
			</div>
		</div>
	</div>
	

	

{% endblock %}