{% extends "layout.html" %}
{% block body %}


</script>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
				<form class="login100-form validate-form" action="/storeattendance" method="post">
					<span class="login100-form-title p-b-33">
						Store attendance
					</span>
					{% if success %}
					Attendance saved successfully!
					{% else %}
					Face not found in database.
					{% endif %}
					</div>
				</form>
			</div>
		</div>
	</div>
	

	

{% endblock %}